# Datan testaus --

In [1]:
import duckdb as dd
import pandas as pd
import read_data as rd

In [2]:
node3200 = rd.read_csv_raw("./data/node3200.kevennetty.csv")

handling ./data/node3200.kevennetty.csv
found 600000 lines

In [3]:
node3200.head()

                    timestamp  node_id   x     y  z   q
0  2019-04-06 04:24:06.860618     3200  39  2528  0  61
1  2019-04-06 04:24:06.860621     3200  39  2528  0  61
2  2019-04-06 04:24:07.860121     3200   0  2542  0  57
3  2019-04-06 04:24:08.860129     3200 -30  2546  0  56
4  2019-04-06 04:24:09.859765     3200 -59  2547  0  75

## Drop z and q columns

In [4]:
#node3200.shape
#node3200.columns
#column_names = node3200.columns
#print("columns names:", column_names)
node3200.drop(columns=['z', 'q'], inplace=True)
#node300 = node3200.drop_in_place("z")
node3200.head()

                    timestamp  node_id   x     y
0  2019-04-06 04:24:06.860618     3200  39  2528
1  2019-04-06 04:24:06.860621     3200  39  2528
2  2019-04-06 04:24:07.860121     3200   0  2542
3  2019-04-06 04:24:08.860129     3200 -30  2546
4  2019-04-06 04:24:09.859765     3200 -59  2547

## Convert to datetime format and remove ms

In [7]:
node3200['timestamp'] = pd.to_datetime(node3200['timestamp'], utc=True)
node3200['timestamp'] = node3200['timestamp'].dt.floor('s')

In [8]:
node3200.head()

                  timestamp  node_id   x     y
0 2019-04-06 04:24:06+00:00     3200  39  2528
1 2019-04-06 04:24:06+00:00     3200  39  2528
2 2019-04-06 04:24:07+00:00     3200   0  2542
3 2019-04-06 04:24:08+00:00     3200 -30  2546
4 2019-04-06 04:24:09+00:00     3200 -59  2547

## Timezone convert to Helsinki UTC

In [9]:
import pytz
desired_timezone = pytz.timezone('Europe/Helsinki')
node3200['timestamp'] = node3200['timestamp'].tz_convert(desired_timezone)
node3200

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [30]:
import duckdb