# Datan testaus --

In [1]:
import duckdb as dd
import pandas as pd
import read_data as rd

In [2]:
node3200 = rd.read_csv_raw("./data/node3200.kevennetty.csv")

handling ./data/node3200.kevennetty.csv
found 500000 lines

In [6]:
node3200.head()

                            node_id   x     y  z   q
timestamp
2019-04-06 04:24:06.860618     3200  39  2528  0  61
2019-04-06 04:24:06.860621     3200  39  2528  0  61
2019-04-06 04:24:07.860121     3200   0  2542  0  57
2019-04-06 04:24:08.860129     3200 -30  2546  0  56
2019-04-06 04:24:09.859765     3200 -59  2547  0  75

## Drop z and q columns

In [8]:
node3200.shape
node3200.columns
column_names = node3200.columns
print("columns names:", column_names)
node3200.drop(columns=['z', 'q'], inplace=True)
#node300 = node3200.drop_in_place("z")
node3200.head()

columns names: Index(['node_id', 'x', 'y', 'z', 'q'], dtype='object')

                            node_id   x     y
timestamp
2019-04-06 04:24:06.860618     3200  39  2528
2019-04-06 04:24:06.860621     3200  39  2528
2019-04-06 04:24:07.860121     3200   0  2542
2019-04-06 04:24:08.860129     3200 -30  2546
2019-04-06 04:24:09.859765     3200 -59  2547